# Autoreconf stage files
/aclocal.m4
/autom4te.cache
Makefile.in
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver

# Configure stage files
.deps
/VERSION
/config.log
/config.status
/libtool
/netcdf-fortran.pc
/nf-config
/nf_test/fills.nc
Makefile

# Build stage files
*.la
*.lo
*.mod
*.o
.libs
/docs/netcdf_f77.3
/examples/F90/nc4_sfc_pres_temp_wr.f90
/examples/F90/nc4_simple_xy_wr.f90
/fortran/netcdf.inc
/nf_test/f03test*
/nf_test/nf03_*
/nf_test/test03_*
!/nf_test/test03_put.F
/nf_test/tst03_*
/nf_test4/f03tst_*
!/nf_test4/f03tst_open_mem.F

# Test stage files
*.log
*.nc
!/nf_test/ref_fills.nc
*.tmp
*.trs
/nf03_test4/fort*
examples/F77/pres_temp_4D_rd
examples/F77/pres_temp_4D_wr
examples/F77/sfc_pres_temp_rd
examples/F77/sfc_pres_temp_wr
examples/F77/simple_xy_nc4_rd
examples/F77/simple_xy_nc4_wr
examples/F77/simple_xy_rd
examples/F77/simple_xy_wr
examples/F90/nc4_pres_temp_4D_wr
examples/F90/nc4_sfc_pres_temp_wr
examples/F90/nc4_simple_xy_wr
examples/F90/pres_temp_4D_rd
examples/F90/pres_temp_4D_wr
examples/F90/sfc_pres_temp_rd
examples/F90/sfc_pres_temp_wr
examples/F90/simple_xy_nc4_rd
examples/F90/simple_xy_nc4_wr
examples/F90/simple_xy_rd
examples/F90/simple_xy_wr
nf03_test/tst_f90
nf03_test/tst_fill_int64
nf03_test4/f90tst_fill
nf03_test4/f90tst_fill2
nf03_test4/f90tst_grps
nf03_test4/f90tst_io
nf03_test4/f90tst_nc4
nf03_test4/f90tst_path
nf03_test4/f90tst_rengrps
nf03_test4/f90tst_types
nf03_test4/f90tst_types2
nf03_test4/f90tst_var_szip
nf03_test4/f90tst_vars
nf03_test4/f90tst_vars2
nf03_test4/f90tst_vars3
nf03_test4/f90tst_vars4
nf03_test4/f90tst_vars_vlen
nf_test/ftest
nf_test/nf_test
nf_test/tst_f77_v2
nf_test/tst_int64
nf_test4/ftst_groups
nf_test4/ftst_path
nf_test4/ftst_rengrps
nf_test4/ftst_types
nf_test4/ftst_types2
nf_test4/ftst_types3
nf_test4/ftst_v2
nf_test4/ftst_var_szip
nf_test4/ftst_vars
nf_test4/ftst_vars2
nf_test4/ftst_vars3
nf_test4/ftst_vars4
nf_test4/ftst_vars5
nf_test4/ftst_vars6

# Dist stage files
/netcdf-fortran-*.tar.gz
/netcdf-fortran-*.zip

# CMake files
CMakeCache.txt
CMakeFiles
CTestConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
build*
cmake_install.cmake
libnetcdff.so*
sizeof_ptrdiff_t
tmp
